.DS_Store
__pycache__/
*.py[cod]
*.log
*_chunks/
*_images_*/
*_stripped/
*.tmp
*.temp
.coverage
.eggs/
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
build/
dist/
htmlcov/
pip-wheel-metadata/
wheelhouse/
*.egg-info/
src/*.egg-info/
